dictionary/
graph/
images/
input/
intermediate/
pairs/
persistence/
screenshots/
trees/
output/
results/
matrices/
compare-graphs/
compare-images/
*.pyc
*.Rhistory
results.csv
print-all-gaps.sh
a.txt
.DS_Store
